html, body {
  font-family: "DIN", sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background: #171D20 !important;
}

.title{
  position: absolute;
  top: 0px;
  left: 300px;
  color: white;
}
.titlebar-window{
  -webkit-app-region: drag;
  text-align: center;
  background: rgb(49, 70, 80);
  height: 35px;
  width: 100%;
  z-index: -1 !important;
}

.titlebar-close-button{
  transform: scale(0.5);
}

.titlebar-close-button-div{
  -webkit-app-region: no-drag;
  position: fixed;
  top: -4px;
  right: -10px;
}

.twitch-image{
  transform: scale(0.5);

}